<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Add a New Book</h1>
        <form action="{{ url_for('add_book') }}" method="post">
            <input type="text" id="title" name="title" required style="padding: 11px;">
            <button type="submit">Add Book</button>
        </form>
        <div class="back-btn">
            <a href="{{ url_for('list_books') }}">Back to List of Books</a>
        </div>
    </div>
</body>

</html>